{% extends "base.html" %}

{% block content %}

    <div id="explanation">
        <p>Please input a web address below. This <b>MUST</b> include " http:// " at the start.</p> 
        <p>Then click "Create new shortened link" to generate your shortened link.</p> 
        <p> Example: http://www.google.com </p>
    </div>

    <form method="POST">
    
        {% csrf_token %}

        {{form.as_p}}

        <input type = "submit" value = "Create new shortened link">

    </form>


{% endblock content %}